<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    
    <ion-avatar slot="end">
      <img src="/assets/ubikAgs.png">
    </ion-avatar>
    <ion-title >RUTAS DE TRASPORTE</ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item-sliding>
  <ion-item href="https://moovitapp.com/index/es-419/transporte_p%C3%BAblico-line-RUTA_02-Aguascalientes-3778-858866-415566-0">
    <ion-thumbnail slot="start">
      <img src="https://eservicios2.aguascalientes.gob.mx/PUCGEA/Archivos/Tramites/1444_foto.png">
    </ion-thumbnail>
    <ion-label>
      <h3>RUTA 1</h3>
      <p>Aguascalientes</p>
    </ion-label>
    <ion-icon name="bus-sharp" slot="end"></ion-icon>
  </ion-item>
  <ion-item href="https://moovitapp.com/index/es-419/transporte_p%C3%BAblico-line-RUTA_02-Aguascalientes-3778-858866-415567-0">
    <ion-thumbnail slot="start">
      <img src="https://eservicios2.aguascalientes.gob.mx/PUCGEA/Archivos/Tramites/1444_foto.png">
    </ion-thumbnail>
    <ion-label>
      <h3>RUTA 2</h3>
      <p>Aguascalientes</p>
    </ion-label>
    <ion-icon name="bus-sharp" slot="end"></ion-icon>
  </ion-item>
  <ion-item href="https://moovitapp.com/index/es-419/transporte_p%C3%BAblico-line-RUTA_02-Aguascalientes-3778-858866-415568-0">
    <ion-thumbnail slot="start">
      <img src="https://eservicios2.aguascalientes.gob.mx/PUCGEA/Archivos/Tramites/1444_foto.png">
    </ion-thumbnail>
    <ion-label>
      <h3>RUTA 3</h3>
      <p>Aguascalientes</p>
    </ion-label>
    <ion-icon name="bus-sharp" slot="end"></ion-icon>
  </ion-item>
  <ion-item href="https://moovitapp.com/index/es-419/transporte_p%C3%BAblico-line-RUTA_02-Aguascalientes-3778-858866-415569-0">
    <ion-thumbnail slot="start">
      <img src="https://eservicios2.aguascalientes.gob.mx/PUCGEA/Archivos/Tramites/1444_foto.png">
    </ion-thumbnail>
    <ion-label>
      <h3>RUTA 4</h3>
      <p>Aguascalientes</p>
    </ion-label>
    <ion-icon name="bus-sharp" slot="end"></ion-icon>
  </ion-item>
  <ion-item href="https://moovitapp.com/index/es-419/transporte_p%C3%BAblico-line-RUTA_02-Aguascalientes-3778-858866-415570-0">
    <ion-thumbnail slot="start">
      <img src="https://eservicios2.aguascalientes.gob.mx/PUCGEA/Archivos/Tramites/1444_foto.png">
    </ion-thumbnail>
    <ion-label>
      <h3>RUTA 5</h3>
      <p>Aguascalientes</p>
    </ion-label>
    <ion-icon name="bus-sharp" slot="end"></ion-icon>
  </ion-item>
  <ion-item href="https://moovitapp.com/index/es-419/transporte_p%C3%BAblico-line-RUTA_02-Aguascalientes-3778-858866-415571-0">
    <ion-thumbnail slot="start">
      <img src="https://eservicios2.aguascalientes.gob.mx/PUCGEA/Archivos/Tramites/1444_foto.png">
    </ion-thumbnail>
    <ion-label>
      <h3>RUTA 6</h3>
      <p>Aguascalientes</p>
    </ion-label>
    <ion-icon name="bus-sharp" slot="end"></ion-icon>
  </ion-item>
  <ion-item href="https://moovitapp.com/index/es-419/transporte_p%C3%BAblico-line-RUTA_02-Aguascalientes-3778-858866-415572-0">
    <ion-thumbnail slot="start">
      <img src="https://eservicios2.aguascalientes.gob.mx/PUCGEA/Archivos/Tramites/1444_foto.png">
    </ion-thumbnail>
    <ion-label>
      <h3>RUTA 7</h3>
      <p>Aguascalientes</p>
    </ion-label>
    <ion-icon name="bus-sharp" slot="end"></ion-icon>
  </ion-item>
  <ion-item href="https://moovitapp.com/index/es-419/transporte_p%C3%BAblico-line-RUTA_02-Aguascalientes-3778-858866-415573-0">
    <ion-thumbnail slot="start">
      <img src="https://eservicios2.aguascalientes.gob.mx/PUCGEA/Archivos/Tramites/1444_foto.png">
    </ion-thumbnail>
    <ion-label>
      <h3>RUTA 8</h3>
      <p>Aguascalientes</p>
    </ion-label>
    <ion-icon name="bus-sharp" slot="end"></ion-icon>
  </ion-item>
  <ion-item href="https://moovitapp.com/index/es-419/transporte_p%C3%BAblico-line-RUTA_02-Aguascalientes-3778-858866-415574sssssss-0">
    <ion-thumbnail slot="start">
      <img src="https://eservicios2.aguascalientes.gob.mx/PUCGEA/Archivos/Tramites/1444_foto.png">
    </ion-thumbnail>
    <ion-label>
      <h3>RUTA 9</h3>
      <p>Aguascalientes</p>
    </ion-label>
    <ion-icon name="bus-sharp" slot="end"></ion-icon>
  </ion-item>
    </ion-item-sliding>
  </ion-list>
  
