<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="end">
      <img src="/assets/setting.jpg">
    </ion-avatar>
    <ion-title slot="start">Setting</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-list>
    <ion-list>
      <ion-radio-group name="auto" value="NORMAL">
        <ion-list-header>
          <ion-label color="primary">Brightness Level</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-avatar slot="start"> 
            <img src="/assets/maximo.png">
          </ion-avatar>
          <ion-label>Maximum</ion-label>
          <p></p>
          <ion-radio value="Maximum"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/medio.png">
          </ion-avatar>
          <ion-label>Medium</ion-label>
          <p></p>
          <ion-radio value="Medium"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/bajo.png">
          </ion-avatar>
          <ion-label>Low</ion-label>
          <p></p>
          <ion-radio value="Cold"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-list>
  <ion-item href="https://m.media-amazon.com/images/S/aplus-media/sc/117ade7c-1015-4f59-8d7b-d4c8009b519d.__CR0,0,300,300_PT0_SX300_V1___.jpg">
    <ion-label>
      Light
    </ion-label>
  </ion-item>
  <ion-item href="https://m.media-amazon.com/images/S/aplus-media/sc/117ade7c-1015-4f59-8d7b-d4c8009b519d.__CR0,0,300,300_PT0_SX300_V1___.jpg">
    <ion-thumbnail slot="start">
      <img src= "http://d3ugyf2ht6aenh.cloudfront.net/stores/855/772/products/lb1-11-d6b68a2059d2f7f5ea15831940533626-640-0.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>Smart Focus</h3>
      <p>WiFi</p>
    </ion-label>
    <ion-icon name="wifi-outline"  name="bluetooth-outline"   slot="end"></ion-icon>
  </ion-item>
