<ion-buttons slot="start">
  <ion-back-button defaultHref="/home"></ion-back-button>
</ion-buttons>
<ion-content>


  <ion-slides (ionSlideDidChange)="ionSlideDidChange($event)" pager="false" [options]="slideOpts">
    <ion-slide class="slide-1">

<div class="slide-img-padding">
      <img src="/assets/encendido.png" >
    </div>
    <div>
      <h3 >Encendido</h3>
      <h2>Dispositivos encontrados</h2>
      <h1>Iphone 13</h1>
      <h1>Moto g9 plus</h1>
      <h1>Air pods</h1>
    </div>
    </ion-slide>


    <ion-slide class="slide-2">
    <div class="slide-img-padding">
      <img src="/assets/Apagado.png" >
    </div>
    <div>
      
      <h3 >Apagado</h3>
      <h2> CONECTADOS PREVIAMENTE</h2>
      <h1>JBL GO 2</h1>
      <h1>Wireless Controller</h1>
      <h1>TotalPlay_Comedor</h1>
    </div>
  </ion-slide>

  <ion-slide class="slide-3">
    <div class="slide-img-padding">
      <img src="/assets/LUZon.png" >
    </div>
    <div>
      <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
      <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
      <h3 >SENSOR DE LUZ</h3>
      <h2>ON</h2>
      <h1></h1>
      <h1></h1>
      <h1></h1>
    </div>
  </ion-slide>

  <ion-slide class="slide-4">
    <div class="slide-img-padding">
      <img src="/assets/colors2.jpg" >
    </div>
    <div>
      <h3 >Wich color?</h3>
      <h2></h2>
      <h1></h1>
      <h1></h1>
      <h1></h1>
    </div>
  </ion-slide>

  <ion-slide class="slide-5">
    <div class="slide-img-padding">
      <img src="/assets/luzMora.png" >
    </div>
    <div>
      <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
      <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
      <h3 >Purple</h3>
      <h2></h2>
      <h1></h1>
      <h1></h1>
      <h1></h1>
    </div>
  </ion-slide>



  <ion-slide class="slide-6">
    <div class="slide-img-padding">
      <img src="/assets/pink.jpg" >
    </div>
    <div>
      <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar>
<ion-progress-bar type="indeterminate"></ion-progress-bar>
<ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
      <h3 >Pink</h3>
      <h2></h2>
      <h1></h1>
      <h1></h1>
      <h1></h1>
    </div>
  </ion-slide>



  <ion-slide class="slide-7">
    <div class="slide-img-padding">
      <img src="/assets/blue.png" >
    </div>
    <div>
      <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar>
<ion-progress-bar type="indeterminate"></ion-progress-bar>
<ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
      <h3 >Blue</h3>
      <h2></h2>
      <h1></h1>
      <h1></h1>
      <h1></h1>
    </div>
  </ion-slide>

  </ion-slides>
</ion-content>
