<ion-buttons slot="start">
  <ion-back-button defaultHref="/home"></ion-back-button>
</ion-buttons>
<ion-content>


  <ion-slides (ionSlideDidChange)="ionSlideDidChange($event)" pager="false" [options]="slideOpts">
    <ion-slide class="slide-1">

<div class="slide-img-padding">
      <img src="/assets/UTMA-1.jpeg" >
    </div>
    <div>
      <h3 >UTMA</h3>
      <h2>Rutas que llevan:</h2>
      <h1>37</h1>
      <h1>43</h1>
      <h1>8</h1>
    </div>
    </ion-slide>


    <ion-slide class="slide-2">
    <div class="slide-img-padding">
      <img src="/assets/uaa.jpg" >
    </div>
    <div>
      <h3 >UAA</h3>
      <h2>Rutas que llevan:</h2>
      <h1>40</h1>
      <h1>18</h1>
      <h1>34</h1>
    </div>
  </ion-slide>

  <ion-slide class="slide-3">
    <div class="slide-img-padding">
      <img src="/assets/upa.jpg" >
    </div>
    <div>
      <h3 >UPA</h3>
      <h2>Rutas que llevan:</h2>
      <h1>40</h1>
      <h1>18</h1>
      <h1>34</h1>
    </div>
  </ion-slide>

  <ion-slide class="slide-4">
    <div class="slide-img-padding">
      <img src="/assets/uta.jpg" >
    </div>
    <div>
      <h3 >UTA</h3>
      <h2>Rutas que llevan:</h2>
      <h1>40</h1>
      <h1>18</h1>
      <h1>34</h1>
    </div>
  </ion-slide>

  <ion-slide class="slide-5">
    <div class="slide-img-padding">
      <img src="/assets/utr.jpg" >
    </div>
    <div>
      <h3 >UPA</h3>
      <h2>Rutas que llevan:</h2>
      <h1>40</h1>
      <h1>18</h1>
      <h1>34</h1>
    </div>
  </ion-slide>



  <ion-slide class="slide-6">
    <div class="slide-img-padding">
      <img src="/assets/ricos.jpg" >
    </div>
    <div>
      <h3 >Tec De Monterrey</h3>
      <h2>Rutas que llevan:</h2>
      <h1>40</h1>
      <h1>18</h1>
      <h1>34</h1>
    </div>
  </ion-slide>



  <ion-slide class="slide-7">
    <div class="slide-img-padding">
      <img src="/assets/ita.jpg" >
    </div>
    <div>
      <h3 >ITA</h3>
      <h2>Rutas que llevan:</h2>
      <h1>40</h1>
      <h1>18</h1>
      <h1>34</h1>
    </div>
  </ion-slide>



  <ion-slide class="slide-9">
    <div class="slide-img-padding">
      <img src="/assets/MC.jpg" >
    </div>
    <div>
      <h3 >MC</h3>
      <h2>Rutas que llevan:</h2>
      <h1>40</h1>
      <h1>18</h1>
      <h1>34</h1>
    </div>
  </ion-slide>





















  </ion-slides>
</ion-content>
